- title "Members"

%table
  %tr
    %th Name
    %th Email
  - for member in @members
    %tr
      %td= h member.name
      %td= h member.email
      %td= member.groups.map(&:name).join " - "
      %td= link_to 'Show', member
      %td= link_to 'Edit', edit_member_path(member)
      %td= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Member", new_member_path
